<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="twitter:card" content="app">
    <meta name="twitter:app:id:iphone" content="id793019235">
    <meta name="twitter:app:id:ipad" content="">
    <meta name="twitter:app:id:googleplay" content="">
    <meta name="twitter:app:country" content="">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="//use.typekit.net/kln7itq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
